@{
    ViewData["Title"] = "Decryption";
}
<div class="text-center">
    <h1 class="display-4">GooglePay Decryption</h1>
    <br/>
    <br/>
</div>
<script src="~/js/GooglePay/decryption.js"></script>
<script src="~/js/logger.js"></script>
<h3>Private Key (Base64 Encoded):</h3>
<input class="user-input-box" type="text" id="privateKey" value="MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQga53ZFNSLxRqJZEl81QesCTY8NDXugxripMFTYx9JoiChRANCAAS1+jJngOiGJppYPFtm2KRiHkN9rvicQd4DlQzfj+AG7Wt6TlZ5IKvZoHWr2aqegntIbE1iVqApnXt7coibIvL7">
<br
<br/>
<h3>EncryptedToken</h3>
<input class="user-input-box" type="text" id="encryptedToken" value="">
<br/>
<br/>
<button type="button" onclick="submitForDecryption()">Decrypt</button>
<br/>
<br/>
<h3>Response:</h3>
<pre><code id="response"></code></pre>