@{
    ViewData["Title"] = "Sale";
}
<div class="text-center">
    <h1 class="display-4">GooglePay Sale</h1>
    <br/>
    <br/>
</div>
<script src="~/js/logger.js"></script>
<table id="configurationTable" class="fl-table">
    <tr>
        <th>Configuration</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>API Version:</td>
        <td id="apiVersion">v2.0</td>
    </tr>
    <tr>
        <td><a href="https://developers.google.com/pay/api/web/reference/request-objects#CardParameters" target="_blank">Allowed Authentication Methods:</a></td>
        <td>
            <select id="allowedAuthMethods" class="user-input-box" onchange="getPaymentClientWithConfiguration()">
                <option value="CRYPTO">CRYPTOGRAM_3DS</option>
                <option value="PAN">PAN_ONLY</option>
                <option value="BOTH" selected>PAN_ONLY & CRYPTOGRAM_3DS</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><a href="https://developers.google.com/pay/api/web/reference/request-objects#PaymentMethodTokenizationSpecification" target="_blank">Tokenization Specification Type:</a></td>
        <td>
            <select id="tokenizationSpecificationType" class="user-input-box" onchange="renderAllowedTokenizationSpecificationParameters()">
                <option value="DIRECT">DIRECT</option>
                <option value="PAYMENT_GATEWAY" selected>PAYMENT_GATEWAY</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><a href="https://developers.google.com/pay/api/web/reference/request-objects#gateway" target="_blank">Tokenization Specification Gateway:</a></td>
        <td><input type="text" id="tokenizationSpecificationParametersGateway" value="example" class="user-input-box" onchange="updatePaymentGatewayGatewayValue()"></td>
    </tr>
    <tr>
        <td><a href="https://developers.google.com/pay/api/web/reference/request-objects#gateway" target="_blank">Tokenization Specification Gateway Merchant ID:</a></td>
        <td><input type="text" id="tokenizationSpecificationParametersGatewayMerchantId" value="exampleGatewayMerchantId" class="user-input-box" onchange="updatePaymentGatewayMerchantIdValue()"></td>
    </tr>
    <tr>
        <td><a href="https://developers.google.com/pay/api/web/reference/request-objects#direct" target="_blank">Tokenization Specification Protocol Version:</a></td>
        <td>
            <select id="tokenizationSpecificationParametersProtocolVersion" class="user-input-box" onchange="updateDirectParametersProtocolVersionValue()">
                <option value="ECv1">ECv1</option>
                <option value="ECv2" selected>ECv2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><a href="https://developers.google.com/pay/api/web/reference/request-objects#direct" target="_blank">Tokenization Specification Public Key:</a> (<a target="_blank" href="https://lyndychivs.com/2023/10/29/generating-encryption-data-for-googlepay-direct-integration/">How do I generate this?</a>)</td>
        <td><input type="text" id="tokenizationSpecificationParametersPublicKey" value="BLX6MmeA6IYmmlg8W2bYpGIeQ32u+JxB3gOVDN+P4Abta3pOVnkgq9mgdavZqp6Ce0hsTWJWoCmde3tyiJsi8vs=" class="user-input-box" onchange="updateDirectParametersPublicKeyValue()"></td>
    </tr>
    <tr>
        <td>Currency Code:</td>
        <td id="currencyCode">USD</td>
    </tr>
    <tr>
        <td>Total Price:</td>
        <td><input type="text" id="totalPrice" value="1.00" class="user-input-box"></td>
    </tr>
</table>
<br/>
<div class="text-center">
    <div id="googlePayButton"></div>
    <label id="checkConsole">Check Console logs if unexpected behaviour.</label>
</div>
<br/>
<script src="~/js/GooglePay/shared.js" onload="renderAllowedTokenizationSpecificationParameters()"></script>
<script src="~/js/GooglePay/sale.js"></script>
<script async
    src="https://pay.google.com/gp/p/js/pay.js"
    onload="getPaymentClientWithConfiguration()">
</script>
<br/>
<br/>
<button type="button" onclick="clearLogs()">Clear Logs</button>
<br/>
<h3>Request:</h3>
<pre><code id="requestLog"></code></pre>
<br/>
<h3>Response:</h3>
<pre><code id="responseLog"></code></pre>
<br/>
<h3>Response Token:</h3>
<pre><code id="responseToken"></code></pre>
<br/>
<button type="button" onclick="copyTokenToClipboard()">Copy Token To Clipboard</button>
<br/>
<h3>Response Token Base64 Encoded:</h3>
<pre><code id="responseTokenBase64Encoded"></code></pre>
<br/>
<button type="button" onclick="copyBase64TokenToClipboard()">Copy Base64 Token To Clipboard</button>